<%- include('partials/_header.ejs') %>

<section class="contenedor wrapper">
    <div class="contenido-panel">
        <div class="usuario">
            <div class="imagen-usuario">
                <a href=""><img src="../img/1200px-User_icon_2.svg.png" alt=""></a>
            </div>
            <nav class="navegacion-usuario">
                <a href="/panel/administradores">Administradores</a>
                <a href="/panel/clientes">Clientes</a>
                <a href="/panel/producto">Productos</a>
                <a href="/panel/categoria">Categoria</a>
                <a href="/panel/pedidos">Pedidos</a>
            </nav>
        </div>
        <div class="datos-panel">
        </div>
    </div>
</section>

<%- include ('partials/_footer.ejs') %>