<%- include('partials/_header.ejs') %>
    <section class="contenedor wrapper">
        <div id="main">
            <fieldset>
                <legend>DETALLES DEL PRODUCTO</legend>
                <form action="/add" method="post" >
                    <label>Descripcion</label>
                    <input type="text" name="nombre" placeholder="Descripcion" required>
                    <label>Precio</label>
                    <input type="text" name="precio" placeholder="0.00" required>
                    <label>Categoria</label>
                    <input type="number" name="categoria_id" placeholder="categoria" required>
                    <label>Foto</label>
                    <input type="file" name="foto" disabled>
                    <button type="submit" name="accion" value="Añadir" class="boton boton-verde enviar">Enviar</button>
                    <button class="boton boton-rojo" href="">Cancelar</button>
                </form>
            </fieldset>
        </div>
    </section>
    <%- include ('partials/_footer.ejs') %>