<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=PT+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles_panel.css">
    <link rel="stylesheet" href="/css/all.css">
    <title>Dashboard</title>
    
</head>

<body>
    <header class="site-header borde-inferior">
        <div class="contenedor">
            <div class="barra">
                <a href="/panel">
                    <h1 class="no-margin">Only<span>Moto</span></h1>
                </a>
                <a href="/panel">Panel de administración</a>
                <a href="../../index.html">Cerrar sesion <i class="fas fa-door-open"></i></a>
            </div>
        </div>
    </header>